<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  
 </head>
 <body>
  <h1> My friends list</h1>

  <%@friends.each {|friend|  %>
  <h2><%= "#{friend} \n" %></h2>
  <%}%>
 </body>
</html>